body
{
	font-family: arial, "lucida console", sans-serif;
	font-size:0.9em;
	color: #000000;
	background:#ffffff;
}

h1 {
	background-color: transparent;
	font-size: 150%;
	font-weight: normal;
	margin: 0;
	padding-top: 0.5em;
	border-bottom: 1px dashed #440000;
}

ul { 
	line-height: 1.5em;
	list-style-type: square;
	margin: 0.5em 0 0 1.5em;
	padding: 0;
	list-style-image: url(/scips/bullet.gif);
}