<img
  srcset="{{ site.baseurl }}{{ project.thumbnail_url_prefix }}-100w.png 100w, {{ site.baseurl }}{{ project.thumbnail_url_prefix }}-200w.png 200w, {{ site.baseurl }}{{ project.thumbnail_url_prefix }}-300w.png 300w, {{ site.baseurl }}{{ project.thumbnail_url_prefix }}-500w.png 500w"
  sizes="(max-width: 480px) 100px,
         (max-width: 600px) 200px,
         (max-width: 1800px) 300px,
         500px"
  src="{{ site.baseurl }}{{ project.thumbnail_url_prefix }}-200w.png"
  alt="{{ project.name }}" 
  alt="Screenshot"
  style="float:right;margin-left:3em;"
  />
